.btn {
    justify-content: left;
}

.currentHourColor {
    background-color: teal;
}

.futureHourColor {
    background-color: lightgreen
}

.hourDisplay {
    border: none;
    height: 60px;
    font-family: Tahoma, sans-serif;
    padding: 2px;
    resize: none;
    text-align: right;
    width: 60px;
}

.jumbotron {
    background-color: white;
    border-bottom: 2px solid black;
    text-align: center;
}

.previousHourColor {
    background-color: lightgrey;
}

.text {
    border: 1px solid black;
    font-family: Tahoma, sans-serif;
    height: 60px;
    padding: 2px;
    resize: none; 
    width: 700px;
}

.tableWrapper {
    padding-block-end: 20px;
    text-align: center;
}

