.tableWrapper {
    text-align: center;
    padding-block-end: 20px;
}

.jumbotron {
    border-bottom: 2px solid black;
    text-align: center;
}

.text {
    width: 700px;
    height: 60px;
    border: 1px solid black;
    padding: 2px;
    font-family: Tahoma, sans-serif;
    resize: none; 
}

.hourDisplay {
    width: 60px;
    height: 60px;
    border: none;
    padding: 2px;
    font-family: Tahoma, sans-serif;
    text-align: right;
    resize: none;
}