.contentWrapper {
    text-align: center;
}
.form-control {
    border: 0;
}

.jumbotron {
    border-bottom: 2px solid black;
    text-align: center;
}

.tableWrapper {
    align-content: center;
}

.text {
    width: 700px;
}

.timeOfDay {
    text-align: right;
}